.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper {
  padding: 16px;
  margin: 20px 0;
  min-width: 300px;
}

.form-control:nth-child(1) {
  padding-right: 16px !important;
}

.form-control {
  margin-bottom: 16px !important;
}

.green {
  background-color: green !important;
  color: white !important;
}

.red {
  background-color: red !important;
  color: white !important;
}

.white {
  color: white !important;
}